extends layout

block page-content
    section
        each ass in asses
            article.ass(id='#{ass._id}')
                p.align_left #{ass.date_created}
                p.align_right #{ass.average}
                p
                    img(src='uploads/#{ass.img}')