extends layout

block page-content
    section
        each ass in asses
            article.ass(id='#{ass._id}')
            p
                #{ass.date_created}
            p
                img(src='#{ass.img}')