extends layout

block content
    div.container.index
        div.page-header
            h1 Hello world #{title}
        
        div.loginbox
            form(method="post", action="/api/upload", enctype="multipart/form-data")
                input(type="file", name="image")
                input(type="submit", value="upload")